body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    & main {
        max-width: 40rem;
        margin: 0 auto;
    }

    & div {
        max-width: 20rem;
        margin: 2rem auto;
        border: 1px solid;
        padding: 4rem;

        & editable-field {
            width: 100%;
        }
    }
}
